/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto&family=Roboto+Mono&family=Sofia&display=swap');
/*
.font{
font-family: 'Anton', sans-serif;
font-family: 'Gugi', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Sofia', cursive;
}
*/
header{
    background-color: rgb(171, 58, 17);
    color: blanchedalmond;
}
.btn-text-color{
    color: blanchedalmond!important;
}
.dropdown-menu{
    background-color: rgb(195, 78, 35)!important;

}
.header-links a{
    text-decoration: none!important;
}
header .site-title{
    font-family: 'Gugi', cursive;
}
.container .dropdown-toggle,
.container .dropdown-list{
    font-size: 0.9em;
}
.navbar-nav .fas{
    color: rgb(36, 36, 36);
    font-size: 0.9em;
}
.navbar-nav .basket-icon{
    margin-right: 3.5rem!important;

}
.navbar-nav{
    padding: 0.6em 0em;
}
.navbar-nav .nav-link {
    padding: 0 1.3em!important;
}
