/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto&family=Roboto+Mono&family=Sofia&display=swap');

:root{
    --grey:#2b3032a1;
    --primary:#45ccb8;
    --border:#2b303218;
    --text:#ff686b;
    --roboto:"Roboto",sans-serif;
    --gugi:'Gugi', cursive;
    --anton:'Anton', sans-serif;
    --lato:'Lato', sans-serif;
    --sofia:'Sofia', cursive;
}
.font{
font-family: 'Anton', sans-serif;
font-family: 'Gugi', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Sofia', cursive;
}